body
    {
     background:black;
     color:white;
     font-size:20px;
    }

#wrapper
{
	width:960px;
	margin:0 auto;
} 
#out {
      width:880px;
      height:400px;
      font-size:20px;  	
		overflow:auto; 
}
 
 .status
 {
 	color:red;
 	font-size: 10px;
 }
 
 #infield
 {
	width:840px; 	
 }
  