!!!5
html
  head
   link(href="/style.css",rel="stylesheet")
   script(type="text/javascript",src="http://localhost:9000/socket.io/socket.io.js")
   script(type="text/javascript",src="http://code.jquery.com/jquery-1.6.1.min.js")
   script(type="text/javascript",src="client.js" );
  body
   div#out 
   div#in
    input#infield(type="text")
    input#in(type="button",value="send"); 
